/*              ~Table of contents~
1) Universal styles
2) header
3) */




html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,
body {
    font-size: 16px;
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
}
