body{
    background-color: hsl(60, 78%, 70%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    background-color: hsla(330, 43%, 80%, 0.25);
}
.title{
    text-align: center;
    color:hsl(180,43%,30%);
    font-size: 50px;
    font-weight: bold;
}
.sub-title-1 {
    text-align: center;
    font-size: 20px;
}
.center-text {
    text-align: center;
}
